<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список задач</title>
</head>
<body>
  <h1>Привет, {{ current_user.username }}!</h1>

<form action="{{ url_for('main.logout') }}" method="post">
  {{ form.hidden_tag() }}  <!-- если используешь FlaskForm -->
  <!-- ИЛИ просто -->
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <button type="submit">Выйти</button>
</form>


  <h2>Добавить задачу</h2>
  <form action="{{ url_for('main.index') }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.task.label }}<br>
    {{ form.task(size=50) }}
    {{ form.submit() }}
  </form>

  <h2>Мои задачи</h2>
  <ul>
    {% for task in tasks %}
      <li>
        {{ task.content }}
  <form action="{{ url_for('main.delete', id=task.id) }}" method="post" style="display:inline;">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
   <button type="submit">Удалить</button>
  </form>

      </li>
    {% else %}
      <li>Задач пока нет</li>
    {% endfor %}
   </ul>
</body>
</html>
